/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #EEEEFF;
  color: #3333FF;
}

a,
a:visited{
  color: #3333FF;
}

h1 {
  font-weight: normal;
  font-size: 19px;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
  margin-bottom: 50px;
  text-transform: uppercase; 
}

.game-idea{
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: #FFF;
  margin: 2em -1em 0 -1em;
  color: #E66;
}

footer a,
footer a:visited{
  color: #E66;
}
